<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#41414C" />
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
	<title>JobsCalc | login</title>

	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/partials/login.css" />
	<link rel="stylesheet" href="/styles/partials/forms.css" />
	<link rel="stylesheet" href="/styles/partials/buttons.css" />
	<link rel="stylesheet" href="/styles/partials/animations.css" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
		rel="stylesheet" />
</head>

<body class="centered">

	<div class="container centered">


		<form method="POST" class="login-form animate-up">

			<% if (message) {%>
				<div class="message message-error fullwidth animate-pop">
					<%= `${message.type}: ${message.text}` %>
				</div>
				<% }%>

					<h1>Faça seu login</h1>
					<input type="email" placeholder="Digite seu email" name="email" required>
					<input type="password" placeholder="Digite sua senha" name="password" required>
					<div class="checkbox-container fullwidth">
						<input type="checkbox" name="remember" id="remember">
						<label for="remember">Lembrar de mim</label>
					</div>
					<div class="separator fullwidth"></div>
					<p>Não está registrado? <a href="/sign-up">Registre-se</a></p>
					<button class="button orange fullwidth">Entrar</button>
		</form>
	</div>

</body>

</html>