body{
	height: 100%;
	background-color: var(--color-primary);
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-color: var(--color-background);
	color: var(--color-primary);
	padding: 1.5rem;
	border-radius: 0.313rem;
	margin-top: 2rem;
	width: min(350px, 85vw);
}

form > * {
	width: 100%;
}

form > :not(:first-child):not(.separator):not(.separator + * ) {
	margin-top: 1rem;
}

.message{
	padding: 1rem;
	border-radius: 0.313rem;
	background-color: var(--color-background);
	color: var(--color-primary);
}

.message-error{
	background-color: var(--color-delete);
	color: var(--color-text);
}